.container {
display: grid;
align-content: center;
gap: 30px;
height: 80vh;
}

.input[type="email"], [type="password"] {
	background-color: transparent;
	border: 0.5px solid rgba(170, 170, 170, 0.3);
	color: white;
}

.input[type="password"]:not(:placeholder-shown) {
	color: white;
}
.input:focus {
	background-color: transparent;
}

.button {
	border-top: 1px rgb(183, 183, 183) solid;
}

.button:hover {
	background-color: var(--bs-btn-bg);
	color: var(--bs-btn-color);
	cursor: default;
	border-top: 0.5px rgb(183, 183, 183) solid ;
	outline: none;
}

.button:focus {
	background-color: var(--bs-btn-bg);
    color: var(--bs-btn-color);
	cursor: default;
}

.button:active {
	background-color: var(--bs-btn-bg);
    color: var(--bs-btn-color);
	cursor: default;
}